@font-face {
    font-family: "Hanken Grotesk";
    src: url(../fonts/HankenGrotesk.ttf);
    font-weight: 100 900;
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter.ttf);
    font-weight: 100 900;
}

html {
    --light-mode-background: #F7F7F7;
    --light-mode-text-content: #45403B; 
    --light-mode-block-background: #E4D7F3;
    --light-mode-accent: #334189;
    --light-mode-caption: #212121;

    --dark-mode-background: #212121;
    --dark-mode-text-content: #F7F7F7;
    --dark-mode-block-background: #334189;
    --dark-mode-accent: #E4D7F3;
    --dark-mode-button: #45403B;

    --heading-font: "Hanken Grotesk", serif;
    --text-font: "Inter", serif;
}

body{
    background-color: var(--light-mode-background);
}

h1, h2, h3, a{
    font-family: var(--heading-font);
    font-weight: 600;
}
.title{
  color: var(--light-mode-accent);
}

p, li{
    font-family: var(--text-font);
}

p{
    
    font-weight: 400;
    color: var(--light-mode-text-content);
}


li {
    list-style-type: none;
    font-weight: 600;
    color: var(--light-mode-caption);

}

div.caption-light {
    background-color:#E4D7F3 ;
}

a:hover{
    background-color: var(--light-mode-block-background);
    opacity: 0.3;
}

a:visited {
    color: var(--light-mode-caption);
}

ul.no-bullets {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

li.heading {
    color: var(--light-mode-accent);
    font-weight:600;
}

#left {
    text-align: left;
    margin: 0;
    padding: 0;
    float: left;
 }

#right {
    text-align: right;
    float: right;
}

#center{
    text-align:center;
}
div.gif{
    text-align: center;
}

nav{
    background-color: var(--light-mode-block-background);
    justify-content: space-between;
    padding: 14px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    position: sticky;
    
}


div.intro{
    padding: 15px;
    background-color: #212121;
}

.intro{
    color: var(--light-mode-background);
}


div.title{
    float: top;
    margin-left: 25px;
    margin-bottom: 0px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

div.center {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

div.grad1 {
    background-color: #212121;
    background: linear-gradient (#212121, #F7F7F7);
    height: 120px;
}


a.chloe{
    font: var(--heading-font);
    color: var(--light-mode-accent);
    font-weight:600;
    font-size: 40px;
    margin: 4px;
    text-align: left;
    margin-top: 40px;
}

a.nav {
    font: var(--text-font);
    font-size: 30px;
    font-weight:600;
    color: var(--light-mode-background);
    margin-bottom: 60px;
    
}

a.nav:hover{
    color: var(--light-mode-text-content);
}

ul.nav ul.logo{
    margin: 0;
    padding: 0;
    display: block; 
}

ul.nav ul.logo li.nav {
    list-style-type: none;
}

ul.nav{
    text-align:right;
}

input[type='checkbox']:not(:checked)+ul.nav {
    display: none;
}
nav input[type='checkbox'], nav label {
    display: none;
}

label{
    size: 500px;
    text-align: right;
}

nav label {
    display: block;
    padding: 0.5px;
    line-height: 4px;
    align-self: center;
}