
@font-face {
    font-family: "Hanken Grotesk";
    src: url(./fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-weight: 100 900;
}
@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 100 900;
}


html {
    --light-mode-background: #F7F7F7;
    --light-mode-text-content: #45403B; 
    --light-mode-block-background: #E4D7F3;
    --light-mode-accent: #334189;
    --light-mode-caption: #212121;

    --dark-mode-background: #212121;
    --dark-mode-text-content: #F7F7F7;
    --dark-mode-block-background: #334189;
    --dark-mode-accent: #E4D7F3;
    --dark-mode-button: #45403B;

    --heading-font: "Hanken Grotesk", Times New Roman, Times, serif;
    --text-font: "Inter", Times New Roman, Times, serif;
}

body{
    background-color: var(--light-mode-background);
}

h1, h2, h3, a{
    font-family: "Hanken Grotesk";
    color: var(--light-mode-accent);
    font-weight: 600;
}
p, li{
    font-family: "Inter";
}

p{
    
    font-weight: 400;
    color: var(--light-mode-text-content);
}


li {
    
    font-weight: 600;
    color: var(--light-mode-caption);

}

div.caption-light {
    background-color:#E4D7F3 ;
}

ul.no-bullets {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
  }

  li.heading {
    color: var(--light-mode-accent);
    font-weight:600;
  }

  #left {
    text-align: left;
    margin: 0;
    padding: 0;
    float: left;
  }

  #right {
    text-align: right;
    float: right;

  }

  #gif{
    text-align: left;
    margin-right: 0;
    float: left;
  }

  #speech{
    text-align: right;
    margin-left: 0;
    margin-top:0;
    padding-top: 0;
    float: right;
  }

  #nav{
    float: top;
  }

  #intro{
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 25px;
    border: 2px solid #212121;
    padding: 20px;
  }

  #center{
    text-align: center;
  }

  #title{
    float: top;
    margin-left: 25px;
    margin-bottom: 0px;
  }

  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }